// --- Colors ---
$header-color: white;
$card-color: white;
$body-color: lightblue;
$tweetBtnColor: #4099FF;
$tweet-color: white;

// --- Alignment ---
$header-align: center;
$card-align: right;
$content-align: left;
$author-align: right;

// --- Margins ---
$card-margin: 1em;
$card-content-margin: 1em;

// --- Fonts ---
$header-font: 2em;

// --- Sizing ---
$section-width: 80vw;